<div id="as-history-audit-dialog">
  <h4><%= t('plugins.history.audit.title') %> .v<%= data['revision'] %></h4>

  <% ['model', 'record_id', 'revision', false,
      'created_by', 'create_time', 'last_modified_by', 'user_mtime', 'system_mtime', false,
      'uri', 'lock_version', 'suppressed', 'digest', 'system_version'].each do |k| %>
    <% if k %>
      <div class="history-audit-field">
        <span class="history-field-label">
          <%= t('plugins.history.field.' + k) %>
        </span>:
        <%= data[k] %>
      </div>
    <% else %>
      <hr/>
    <% end %>
  <% end %>

  <div class="pull-right as-history-dialog-buttons">
    <a id="as-history-tb-cancel-restore-button"
      class="btn btn-default"
      onclick="$('#as-history-audit-dialog').slideUp();"
      href="javascript:void(0);">
      <%= t('plugins.history.audit.close_button_label') %>
    </a>
  </div>
</div>
