<div class=" history-browse-select-pane">


  <div class="history-select-label">

      <a class="btn btn-default history-version-set history-version-set-button"
         title="Go to this version set"
         href=" ">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="history-version-set-label"></span>
      </a>

  </div>

  <div class="history-axis-select history-axis-record">
    <div>
    Record
    </div>

    <select name="model" class="form-control history-control">
      <option value="_all">All models</option>
      <% supported_models.each do |model| %>
        <% selected = data['model'] == model[:model] ? 'selected' : '' %>
        <option value="<%= model[:model] %>" <%= selected %>><%= model[:label] %></option>
      <% end %>
    </select>

    /

    <input name="id" class="form-control history-control" placeholder="All IDs" value="<%= data['record_id'] %>">
  </div>

  <div class="history-axis-select history-axis-user">
    <div>
    Updates by
    </div>

    <input name="user" class="form-control history-control" placeholder="All users" value="<%= params['user'] %>">
  </div>

  <div class="history-axis-select history-axis-time">
    <div>
    At time
    </div>

    <input name="time" class="form-control history-control" placeholder="Any time" value="<%= params['at'] %>">
  </div>

  <div class="history-axis-select history-axis-diff">
    <div>
    With differences
    </div>

    <input name="diff" class="form-control history-control" placeholder="All diffs">
  </div>


</div>
