<div class="as-history-toolbar">
<div class="btn-group as-history-tb-diff-button-group">
  <a id="as-history-tb-diff-only-button"
    class="btn btn-default as-history-tb-button"
    onclick="as_history.showDiffOnlyClick();"
    href="javascript:void(0);">
    <div style="width:12px;height:2px;background:#f00;margin:8px 0px 2px 0px;"></div>
    <div style="width:12px;height:2px;background:#0c0;margin:0px 0px 5px 0px;"></div>
  </a>
  <a id="as-history-tb-diff-all-button"
    class="btn btn-default as-history-tb-button"
    onclick="as_history.showDiffAllClick();"
    href="javascript:void(0);">
    <div style="width:12px;height:2px;background:#777;margin:3px 0px 2px 0px;"></div>
    <div style="width:12px;height:2px;background:#f00;margin:0px 0px 2px 0px;"></div>
    <div style="width:12px;height:2px;background:#0c0;margin:0px 0px 2px 0px;"></div>
    <div style="width:12px;height:2px;background:#777;margin:0px 0px 2px 0px;"></div>
  </a>
  <a id="as-history-tb-diff-clean-button"
    class="btn btn-default as-history-tb-button"
    onclick="as_history.showDiffCleanClick();"
    href="javascript:void(0);">
    <div style="width:12px;height:2px;background:#777;margin:5px 0px 2px 0px;"></div>
    <div style="width:12px;height:2px;background:#777;margin:0px 0px 2px 0px;"></div>
    <div style="width:12px;height:2px;background:#777;margin:0px 0px 4px 0px;"></div>
  </a>
  <a id="as-history-tb-diff-raw-button"
    class="btn btn-default as-history-tb-button"
    onclick="as_history.showDiffRawClick();"
    href="javascript:void(0);">
    { }
  </a>
</div>

<div class="btn-group">
  <a id="as-history-tb-record-button"
    class="btn btn-default as-history-tb-button"
    onclick="$('#as-history-audit-dialog').slideToggle();"
    href="javascript:void(0);">
    <%= version_display(data['model'], data['record_id'], data['lock_version']) %>
    <% if diff_version %>
      ..<small>v<%= diff_version %></small>
    <% end %>
    &nbsp;|&nbsp;
    <span class="glyphicon glyphicon-user"></span>
    <%= data['last_modified_by'] %>
    &nbsp;|&nbsp;
    <span class="glyphicon glyphicon-time"></span>
    <%= data['user_mtime'] %>

    <span style="vertical-align:middle;" class="caret"></span>
  </a>
</div>

<%
  link_hash = {:controller => model_pl, :action => :show, :id => data['record_id']}
  link_hash[:agent_type] = data['model'] if model_pl == 'agents'

  if data['model'] == 'archival_object' && json.has_key?('resource')
    link_hash[:id] = json['resource']['ref'].split('/')[-2]
    link_hash[:anchor] = "tree::archival_object_#{data['record_id']}"
  end
%>

<div class="btn-group">
  <%= link_to t('plugins.history.exit_button_label'),
              link_hash,
              {:class => 'btn btn-default as-history-tb-button', :id => 'as-history-tb-exit-button'} %>
</div>

<div class="btn-group pull-right">
  <a id="as-history-tb-restore-button"
     class="btn btn-default as-history-tb-button"
     onclick="$('#as-history-restore-dialog').slideToggle();"
     href="javascript:void(0);">
    <span class="glyphicon glyphicon-clock"></span>
    <%= t('plugins.history.show_restore_button_label') %>
    <span style="vertical-align:middle;" class="caret"></span>
  </a>
</div>

</div>





