<div class="row">
  <div class="col-md-12 history-title-bar">
    <div class="history-current-set-pane">
      <span class="history-title">
        <%= t('plugins.history.title') %> :
      </span>
      <a class="btn btn-default history-version-set"
         onclick="$('.history-browse-select-pane').slideToggle();">

        <%= version_set_label(params, data) %>

        <span style="vertical-align:middle;" class="caret"></span>
      </a>
    </div>


    <a class="btn btn-default history-previous-sets-button"
       onclick="$('.history-previous-sets-pane').toggle();">

      <%= t('plugins.history.previous_sets_button_label') %>
      >
    </a>

    <div class="history-previous-sets-pane" style="display:none;">
      <a style="display:none"
         id="history-previous-version-set-template"
         class="btn btn-default history-previous-version-set"
         href=" ">
        Moo
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "history/browse_dialog" %>
  </div>
</div>


<% if @version %>
  <div class="as-history-main-layout">

    <div class="as-history-sidebar-pane">
      <%= render_aspace_partial :partial => "history/sidebar" %>
    </div>

    <div class="as-history-main-pane">

      <%= render_aspace_partial :partial => "history/toolbar" %>

      <div class="record-pane history-record-pane">
        <%= render_aspace_partial :partial => "history/audit_dialog", :locals => {:current_version => @version['versions'].values.first['revision']} %>
        <%= render_aspace_partial :partial => "history/restore_dialog", :locals => {:current_version => @version['versions'].values.first['revision'], :can_restore => @version['can_restore']} %>
        <%= render_aspace_partial :partial => "shared/flash_messages" %>

        <h4><%= data['label'] %></h4>

        <%= render_aspace_partial :partial => "history/record", :locals => {:json => @version['inline_diff']} %>

        <div class="history-raw-view">
          <pre><%= JSON.pretty_generate(json) %></pre>
        </div>
      </div>

    </div>

  </div>

<% else %>

  <%= render_aspace_partial :partial => "shared/flash_messages" %>

<% end %>
